extracted_Assassin/
preview/
dummy/
skins/
color-block/
extracted_color-block/
extracted_color_block/
extracted_Dummy/
extracted_Dummy2/
extracted_gabriel/
assassin/
assassin_atlas_regions.txt
Beardy/
gabriel/
__pycache__/
