extracted_Assassin/
preview/
dummy/
skins/
extracted_color_block/
extracted_Dummy/
extracted_Dummy2/
extracted_gabriel/
assassin/
assassin_atlas_regions.txt
Beardy/
gabriel/
__pycache__/
debug/
debug-rabbit/
color-block/spine-webgl.js
color-block/assassin_backup.png
